// 导航背景色
$navBackgroundColor: #F9FAFC;
// 导航边框颜色
$navBorderColor: #ebecee;
// hover 颜色
$itemHoverColor: #dcdddf;
// 二级菜单背景色
$menuBackgroundColor: #ebecee;
// 活动中 item 颜色
$activeBackgroundColor: #dcdddf;